importFrom(longCombat,longCombat)
importFrom(softImpute,softImpute)
importFrom(irlba,irlba)
importFrom(broman,normalize)
importFrom(mgcv,smooth.construct,gam,s)
importFrom(splines,spline.des)
importFrom(quadprog,solve.QP)
importFrom(lme4,lmer,lmerControl,fixef)
importFrom(stats, approx, as.formula, ave, optim, predict, smooth.spline, var)

export(INTACT)
export(INTACTforXW)
export(getMVDV)
export(fastmfpca)